{% extends "base.html" %}
{% block title %}Регистрация | {{ block.super }}{% endblock %}

{% block content %}

    <div id="login-wrapper" class="mt-n5">
        <div class="login-page-bg">
            <div class="form-card-wrapper">
                <div class="form-card p-4 rounded shadow">
                    <div class="form-logo">
                        <img src="https://res.cloudinary.com/space-developers/image/upload/v1605253525/Petronews/vywka_1_negrif.svg"
                             alt="">
                    </div>
                    <div class="form-title mt-5 pt-3">
                        <h2>Регистрация</h2>
                        <p class="text-muted border-top mt-3 pt-3">Есть аккаунт?
                            <a href="{% url 'login' %}" class="text-primary ml-3">Вход</a>
                        </p>
                    </div>
                    {% if message %}
                        <div class="alert alert-danger mt-3" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}
                    <div class="login-form mt-5">
                        <form method="post" action="{% url 'register' %}" class="mt-md-5">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="exampleInputEmail1">Ваш email*</label>
                                <input type="text" name="username" class="form-control" id="exampleInputEmail1"
                                       aria-describedby="emailHelp" required>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Пароль*</label>
                                <input type="password" minlength="8" name="password" class="form-control" id="exampleInputPassword1" required>
                                <small id="emailHelp" class="form-text text-muted">Пароль должен содержать не менее 8 символов</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword2">Пароль еще раз*</label>
                                <input type="password" name="password_confirmation" class="form-control" id="exampleInputPassword2" required>
                            </div>

                            <button type="submit" class="btn btn-dark btn-block mt-5 shadow">Регистрация</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-n5"></div>

    <style>

        .form-card {
            width: 90%;
            max-width: 600px;
            background: rgba(255, 255, 255, .9);
        }

        .form-card-wrapper {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .checkbox-label {
            padding-top: 3px;
        }

        .login-page-bg {
            z-index: 150;
            position: relative;
            width: 100%;
            height: 95vh;
            background: url("https://res.cloudinary.com/space-developers/image/upload/v1605255386/Petronews/160118-MAIN_hh8zbi.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }

        @media screen and (max-width: 800px) {
            .login-grid {
                display: grid;
                grid-template-columns: 1fr;
            }
        }
    </style>


{% endblock %}