{% load static %}
{% load thumbnail %}

<article>
    <div class="card text-white shadow rounded position-relative">
        <a href="{{ i.get_absolute_url }}" class="text-white" title="Читать далее..">
            {% if i.image %}
                {% thumbnail i.image "600x350" crop="center" as img %}
                    <img data-src="{{ img.url }}" src="{% static 'assets/img/preloader.svg' %}" class="card-img lazy"
                         alt="Фото: {{ i.title }}" title="Фото: {{ i.title }}"
                         style="width: 100%; height: 200px; object-fit: cover;">
                {% endthumbnail %}
            {% elif i.image_url %}
                {% thumbnail i.image_url "600x350" crop="center" as img %}
                    <img data-src="{{ img.url }}" src="{% static 'assets/img/preloader.svg' %}" class="card-img lazy"
                         alt="Фото: {{ i.title }}" title="Фото: {{ i.title }}"
                         style="width: 100%; height: 200px; object-fit: cover;">
                {% endthumbnail %}
            {% else %}
                <img src="{% static 'assets/img/preloader.svg' %}" class="card-img lazy" alt="Фото: {{ i.title }}"
                     title="Фото: {{ i.title }}"
                     style="width: 100%; height: 200px; object-fit: cover;">
            {% endif %}
            <div class="card-img-overlay pos">
                <h5 class="card-title mt-2 h6">
                    {{ i.title }}
                </h5>
                <div class="text-right card-time">
                    {% include 'news/includes/time.html' %}
                </div>
            </div>
        </a>
    </div>
</article>

<style>
    .card-time {
        position: absolute;
        bottom: 5px;
        right: 5px;
    }
</style>