{% load thumbnail %}

<div class="post_addcomment row">
    {#Форма #}
    <div id="form-app" class="col-12 col-lg-6 ">
        <div class="similar_news mt-5" name="comments">
            <h2 class="news_section_title">
                <a class="news_section_title_link">Ваш комментарий</a>
            </h2>
        </div>
        <form action="{% url 'add_review' post.id %}" method="post" class="comment-form">
            {% csrf_token %}
            <input type="hidden" name="parent" id="parent" value="">
            {% if not request.user.is_authenticated %}
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="recipient-name" class="col-form-label">Ваше имя:</label>
                        <input type="text" name="name" required class="form-control"
                               value="{{ request.session.quest_name }}" id="name">
                    </div>
                    <div class="form-group col-sm-6">
                        <label for="recipient-name" class="col-form-label">Email:</label>
                        <input type="email" name="email" required class="form-control"
                               value="{{ request.session.quest_email }}" id="email">
                    </div>
                </div>
            {% else %}
                <input type="hidden" name="name" required
                       value="{{ request.user.username }}" id="name">
                <input type="hidden" name="email" required class="form-control"
                       value="{{ request.user.email }}" id="email">
            {% endif %}
            <div class="form-group">
                <label for="message-text" class="col-form-label">Комментарий:</label>
                <textarea name="text" rows="4" required class="form-control"
                          id="comment"></textarea>
            </div>
            <div id="notice" style="display: none">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>Спасибо!</strong> Ваш комментарий опубликован.<br>
                    <a href="#comments-list">Перейти к комментарию <i
                            class="fas fa-long-arrow-alt-right"></i></a>
                </div>
            </div>
        </form>
        <div class="">
            <button class="btn btn-primary p-3" onclick="AjaxAddComment()">Оставить коментарий <i
                    class="fab fa-telegram-plane"></i>
            </button>
        </div>
    </div>
    {#    Комментарии #}
    <div class="commets col-12 col-lg-6 " id="comments-list">
        {% if comments.count %}
            <div class="similar_news mt-5" name="comments">
                <h2 class="news_section_title">
                    <a class="news_section_title_link">Комментарии <span
                            class="badge badge-secondary small">{{ comments_count }}</span></a>
                </h2>
            </div>

            <div class="comment-wrapper shadow-inset p-3 rounded">
                {% for i in comments %}
                    <div class="comment mt-3 border rounded shdow-sm p-2 pb-4" id="comment{{ i.id }}">
                        <p class="font-weight-bold">
                            {% if i.user %}
                                {% thumbnail i.user.author.avatar "50x50" crop="center" as img %}
                                    <img src="{{ img.url }}" alt="" class="rounded-circle shadow-sm">
                                {% endthumbnail %}
                            {% else %}
                                <i class="fas fa-user"></i>
                            {% endif %}
                            {{ i.name }}
                            {% if i.parent %}
                                <span class="font-weight-light small"> ответ для </span>
                                <a href="#comment{{ i.parent.id }}">{{ i.parent.name }}
                                    {% if i.parent.user %}
                                        {% thumbnail i.parent.user.author.avatar "30x30" crop="center" as img %}
                                            <img src="{{ img.url }}" alt="" class="rounded-circle shadow-sm">
                                        {% endthumbnail %}
                                    {% endif %}
                                </a>
                            {% endif %}
                        </p>
                        <p class="mt-2">{{ i.text }}</p>
                        <div class="mt-2">
                            <p class="text-muted small text-right float-right"><i
                                    class="fas fa-history"></i> {{ i.pub_date|date:'d M G:i' }}</p>
                            <a href="#form-app" onclick="addComment('{{ i.name }}', '{{ i.id }}')"
                               class="float-left small">Ответить <i class="fas fa-reply-all"></i></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="alert alert-secondary mt-5" role="alert">
                К данной записи пока нет комментариев.
            </div>
        {% endif %}

    </div>
</div>