{% load static %}

<div id="carouselExampleCaptions" class="carousel slide carousel-fade rounded shadow" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        {% for i in kz_main_news|slice:":1" %}
            <div class="carousel-item active">
                {% include 'news/includes/slider_article.html' %}
            </div>
        {% endfor %}
        {% for i in kz_main_news|slice:"1:3" %}
            <div class="carousel-item">
                {% include 'news/includes/slider_article.html' %}
            </div>
        {% endfor %}
    </div>
</div>