{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}{{ publication.title }} | {{ block.super }}{% endblock %}
{% block description %}{{ description }}...{% endblock %}
{% block ogtitle %}{{ publication.title }} | {{ block.super }}{% endblock %}
{% block ogurl %}{{ publication.get_absolute_url }}{% endblock %}
{% block ogimage %}{{ publication.image.url }}{% endblock %}
{% block ogdescription %}{{ description }}...{% endblock %}

{% block content %}
    <div class="post-container px-3">
        <div class="post-page mt-5">
            <div class="row">
                {#                Пост и комментарии #}
                <div class="col-lg-8">
                    <article>
                        <div class="post-detail">
                            {#                        Заголовок поста #}
                            <h1 class="h3 post-title">
                                {{ publication.title }}
                            </h1>
                            {#                    Изображение #}
                            <div class="post-image mt-4 pt-1">
                                {% if publication.image %}
                                    <img class="lazy rounded shadow" data-src="{{ publication.image.url }}"
                                         src="{% static 'assets/img/preloader.svg' %}"
                                         alt="Фото: {{ publication.title }}"
                                         title="Фото: {{ publication.title }}"
                                         style="width: 100%;"
                                    >
                                {% else %}
                                    <img class="rounded shadow"
                                         src="{% static 'assets/img/empty.png' %}" alt="Нет изображения"
                                         title="Нет изображения"
                                         style="width: 100%;"
                                    >
                                {% endif %}
                            </div>
                            {#                        Мета #}
                            <div class="post-meta mt-4">
                            <span class="" data-toggle="tooltip" data-placement="top"
                                  title="Количество просмотров: {{ publication.views }}">
                                <i class="far fa-eye"></i>
                                {{ publication.views }}
                            </span>
                                <a href="#form-app" class="ml-3 scroll-to" data-toggle="tooltip" data-placement="top"
                                   title="Количество комментариев: {{ comments_count }}">
                                    <i class="far fa-comment-dots"></i>
                                    {{ comments_count }}
                                </a>
                                <span class="ml-3 float-right" data-toggle="tooltip" data-placement="top"
                                      title="Дата публикации: {{ publication.pub_date }}">
                                <i class="far fa-calendar-alt"></i>
                                {{ publication.pub_date|date:'d M в G:i' }}
                            </span>
                            </div>
                            {#                        Тело поста #}
                            <div class="post-detail mt-4 pt-4 border-top">
                                {% autoescape off %}{{ publication.body }}{% endautoescape %}
                            </div>
                        </div>
                    </article>
                    {#                    Share #}
                    <div class="post-share mt-3">
                        {% include 'includes/share.html' %}
                    </div>
                    {#                    Комментарии #}
                    <div class="comments-block">
                        {% include 'publications/includes/pub_reviews.html' %}
                    </div>
                </div>

                {#            Читайте также #}
                <div class="col-lg-4">
                    {% include 'publications/includes/read_more.html' %}
                </div>
            </div>
        </div>

    </div>

    <style>
        .post-container {
            max-width: 1300px;
            margin: auto;
        }

        .post-detail {
            font-size: 16px;
            line-height: 24px;
            max-width: 100%;
            overflow-x: scroll;
        }
    </style>


{% endblock %}