{% extends "base.html" %}
{% block title %}Восстановление доступа | {{ block.super }}{% endblock %}

{% block content %}

    <div id="login-wrapper" class="mt-n5">
        <div class="login-page-bg">
            <div class="form-card-wrapper">
                <div class="form-card p-4 rounded shadow">
                    <div class="form-logo">
                        <img src="https://res.cloudinary.com/space-developers/image/upload/v1605253525/Petronews/vywka_1_negrif.svg"
                             alt="">
                    </div>
                    {% if validlink %}
                        <div class="form-title mt-5 pt-3">
                            <h2>Новый пароль</h2>
                            <p class="text-muted mt-3 pt-3 border-top">
                                Пожалуйста, введите и подтвердите новый пароль.
                            </p>
                        </div>
                        {% if form.new_password1.errors %}
                            <div class="alert alert-danger mt-3" role="alert">
                                {{ form.new_password1.errors }}
                            </div>
                        {% endif %}
                        {% if form.new_password2.errors %}
                            <div class="alert alert-danger mt-3" role="alert">
                                {{ form.new_password2.errors }}
                            </div>
                        {% endif %}
                        <div class="login-form mt-5">
                            <form method="post" action="" class="mt-md-5">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="id_new_password1">Новый пароль:</label>
                                    <input autocomplete="new-password" id="id_new_password1" name="new_password1" required="" type="password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="id_new_password2">Пароль еще раз:</label>
                                    <input autocomplete="new-password" id="id_new_password2" name="new_password2" required="" type="password" class="form-control">
                                </div>
                                <button type="submit" class="btn btn-dark btn-block mt-5 shadow">Изменить пароль</button>
                            </form>

                        </div>
                    {% else %}
                        <h3>Ошибка</h3>
                        <p>Ссылка недействительна. Возможно потому, что данная ссылка уже была использована. Пожалуйста, попробуйте восстановить пароль заново.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="mt-n5"></div>

    <style>

        .form-card {
            width: 90%;
            max-width: 600px;
            background: rgba(255, 255, 255, .9);
        }

        .form-card-wrapper {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .checkbox-label {
            padding-top: 3px;
        }

        .login-page-bg {
            z-index: 150;
            position: relative;
            width: 100%;
            height: 95vh;
            background: url("https://res.cloudinary.com/space-developers/image/upload/v1605255386/Petronews/160118-MAIN_hh8zbi.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
        }

        @media screen and (max-width: 800px) {
            .login-grid {
                display: grid;
                grid-template-columns: 1fr;
            }
        }
    </style>


{% endblock %}