{% load static %}
{% load main_tags %}
{% get_socials as socialstg %}
{% load cache %}
{% load thumbnail %}

{#Неделя#}
{#{% cache 604800 header %}#}
<header>
    <div class="container-fluid">
        <div class="header_container ow px-md-2">

            <div class="header_logo col-md-6 col-xl-3 d-flex align-items-center">
                <a class="header_logo_link" href="{% url 'home' %}">
                    <img class="header_logo_img_anim" src="{% static 'assets/img/logo 2.png' %}" alt="logo">
                    <img class="header_logo_img" src="{% static 'assets/img/1-logo.png' %}" alt="logo">
                </a>
                <a href="{% url 'home' %}" class="logo-text">
                    <img src="https://res.cloudinary.com/space-developers/image/upload/v1606146491/Petronews/logo_jt1dpt.png"
                         alt="Logo" class="" style="max-height: 45px; max-width: 90%;">
                    {#                    <span class="yellow logo-kz text-uppercase">Kazakhstan</span><br>#}
                    {#                    <h2 class="logo-title text-white serif">Oil&Gaz</h2>#}
                    {#                    <span class="logo-small-txt text-white">Oil&Gas</span>#}
                </a>
            </div>

            {% include 'includes/mobile_header.html' %}

            <div class="col-xl-7 col-md-6 header_submenu d-none d-lg-block position-relative" style="z-index: 0">
                <div class="header-imgs position-absolute ml-n5" style="opacity: 1; bottom: 0">
                    <img src="https://res.cloudinary.com/space-developers/image/upload/v1606151697/Petronews/eog-header-img_usvza1.png"
                         alt="">
                    {#                    <img src="{% static 'assets/img/header/1.svg' %}" alt="atrs" style="margin-left: -80px; width: 200px;">#}
                    {#                    <img src="{% static 'assets/img/header/2.svg' %}" alt="atrs" style="width: 80px; margin-left: 20px; position: absolute; bottom: -2px">#}
                    {#                    <img src="{% static 'assets/img/header/3.svg' %}" alt="atrs" style="width: 20px; bottom: 10px; position: absolute">#}
                    {#                    <img src="{% static 'assets/img/header/4.svg' %}" alt="atrs" style="width: 60px; margin-left: 10px; position: absolute; bottom: 8px; left: 210px" >#}
                    {#                    <img src="{% static 'assets/img/header/5.svg' %}" alt="atrs" style="width: 50px; margin-left: 10px; position: absolute; bottom: 0px; left: 140px" >#}
                </div>
                <div class="row header_menu_top justify-content-end">
                    <div class="">
                        <div class="header_submenu_top">
                            <ul class="header_submenu_top_list">
                                <li class="header_submenu_top_list_item">
                                    <a class="header_submenu_top_list_item_link border-right letter-space"
                                       href="{% url 'about' %}">О проекте</a>
                                </li>
                                <li class="header_submenu_top_list_item">
                                    <a class="header_submenu_top_list_item_link border-right letter-space"
                                       href="{% url 'contacts' %}">Контакты</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="">
                        {% for i in socialstg %}
                            <a href="{{ i.url }}" target="_blank" class="border-right text-center">
                                {% autoescape off %}{{ i.icon }}{% endautoescape %}
                            </a>
                        {% endfor %}
                        <a class="social_search social mr-3" href="#">
                            <i class="fas fa-search" data-toggle="modal" data-target="#exampleModalmob"></i>
                        </a>
                    </div>
                </div>
                <div class="header_menu_bottom mt-n2 position-relative" style="z-index: 25">
                    <ul class="header_menu_bottom_list row">
                        <li class="header_menu_bottom_list_item">
                            <a class="header_menu_bottom_list_item_link text-uppercase text-warning"
                               href="{% url 'home' %}">
                                <i class="fas fa-home text-warning"></i> Главная
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="#" role="button" class="text-uppercase text-warning dropdown-toggle"
                               id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                <i class="far fa-newspaper text-warning"></i> Новости
                            </a>
                            <div class="dropdown-menu " aria-labelledby="dropdownMenuLink" style="background: #131315; width: 185px;">
                                <ul class="p-3 shadow rounded bg-dark" >
                                    <li class="header_menu_bottom_list_item mt-1">
                                        <a class="header_menu_bottom_list_item_link text-uppercase"
                                           href="{% url 'news' %}">
                                            <i class="fas fa-angle-right mr-1"></i> Все новости
                                        </a>
                                    </li>
                                    <li class="header_menu_bottom_list_item mt-1">
                                        <a class="header_menu_bottom_list_item_link text-uppercase"
                                           href="{% url 'kz_news' %}">
                                            <i class="fas fa-angle-right mr-1"></i> Казахстан
                                        </a>
                                    </li>
                                    <li class="header_menu_bottom_list_item mt-1">
                                        <a class="header_menu_bottom_list_item_link text-uppercase"
                                           href="{% url 'world_news' %}">
                                            <i class="fas fa-angle-right mr-1"></i> Мир
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                        <li class="header_menu_bottom_list_item">
                            <a class="header_menu_bottom_list_item_link text-warning text-uppercase"
                               href="{% url 'publications_list' %}">
                                <i class="fas fa-user-edit text-warning"></i> Публикации
                            </a>
                        </li>
                        <li class="header_menu_bottom_list_item">
                            <a class="header_menu_bottom_list_item_link text-uppercase text-warning"
                               href="{% url 'persons_list' %}">
                                <i class="fas fa-user-tie text-warning"></i> Персоны
                            </a>
                        </li>
                        <li class="header_menu_bottom_list_item">
                            <a class="header_menu_bottom_list_item_link text-uppercase text-warning"
                               href="{% url 'questions' %}">
                                <i class="far fa-question-circle text-warning"></i> Вопросы
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="col-xl-2 col-md-3 hide-on-mobile px-xl-3">
                {% if request.user.is_authenticated %}
                    <div class="user text-white">
                        <a href="{{ user.author.get_absolute_url }}"
                           class="user-name text-white text-right d-flex justify-content-end align-items-center">
                            <h6>{{ user.author.first_name }} {% if user.author.last_name %}
                                {{ user.author.last_name }} {% endif %}</h6>

                            {% if user.author.avatar %}
                                {% thumbnail user.author.avatar "30x30" crop="center" as img %}
                                    <img src="{{ img.url }}" alt="" class="rounded-circle ml-3">
                                {% endthumbnail %}
                            {% else %}
                                <i class="fas fa-user-circle user-avatar-i d-block ml-3"></i>
                            {% endif %}
                        </a>
                        <div class="user_actions">
                            <a href="{{ user.author.get_absolute_url }}"
                               class="btn btn-block btn-warning mt-1 text-dark serif">Новая запись <i
                                    class="fas fa-feather-alt text-dark"></i></a>
                        </div>
                    </div>
                {% else %}
                    <a href="{% url 'login' %}"
                       class="btn btn-warning btn-block text-uppercase hover-no-color f-size-13">Вход</a>
                    <a href="{% url 'register' %}"
                       class="btn btn-outline-warning mt-2 btn-block text-uppercase hover-no-color f-size-13">Регистрация</a>
                {% endif %}
            </div>
        </div>


    </div>

</header>

<style>
    .user-avatar-i {
        font-size: 23px;
    }

    .header-imgs {
        opacity: .5;
        bottom: -8px;
    }
</style>
{#{% endcache %}#}