{# Табы навигация #}
<ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
    <li class="nav-item px-4">
        <a class="nav-link active serif"
           href="#home"
           id="home-tab"
           data-toggle="tab" role="tab"
           aria-controls="home" aria-selected="true"
        >
            Публикации <i class="fas fa-feather-alt"></i>
        </a>
    </li>
    <li class="nav-item px-4">
        <a class="nav-link serif"
           href="#profile"
           id="profile-tab"
           data-toggle="tab"
           role="tab" aria-controls="profile" aria-selected="false"
        >
            Вопросы <i class="fas fa-question-circle"></i>
        </a>
    </li>
</ul>

{#Табы контент#}
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active p-3 rounded"
         id="home"
         role="tabpanel" aria-labelledby="home-tab"
    >
        <div class="publications-profile-list">
            {#        Проверка прав #}
            {% if success %}
                <button class="btn btn-primary shadow my-3" onclick="newPub()">Новая публикация <i
                        class="fas fa-feather-alt"></i></button>
            {% endif %}
            {#            Список публикаций автора #}
            {% include 'profiles/includes/pubs.html' %}
        </div>
        {#            Новая публикация #}
        <div class="profile-new-pub" style="display: none;">
            {% include 'profiles/includes/new_pub.html' %}
        </div>
    </div>
    <div class="tab-pane fade p-3 rounded" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        {#        Проверка прав #}
        {% if success %}
            <button class="btn btn-primary shadow my-3">Новый вопрос <i
                    class="fas fa-feather-alt"></i></button>
        {% endif %}
        <div class="profile-questions">
            {% for i in questions %}
            {% include 'profiles/includes/questions.html' %}
            {% endfor %}
        </div>
    </div>
</div>


<style>

</style>